/* =============== CONTENTS =============== */
/* FONTS */
/* BOX-SIZING */
/* GLOBAL STYLES */
/* HELPER / GLOBAL COMPONENTS */
/* MEDIA QUERIES */



/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/

/* mulish-300 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/mulish-v1-latin-300.woff2') format('woff2'),
    url('../fonts/mulish-v1-latin-300.woff') format('woff');
}

/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/mulish-v1-latin-regular.woff2') format('woff2'),
    url('../fonts/mulish-v1-latin-regular.woff') format('woff');
}

/* mulish-700 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/mulish-v1-latin-700.woff2') format('woff2'),
    url('../fonts/mulish-v1-latin-700.woff') format('woff');
}


/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

body {
  padding: 0;
  margin: 0;
  font-family: 'Mulish', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #7D7987;
}

img {
  max-width: 100%;
  height: auto;
}

.black-text {
  color: #000;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0 40px;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  border-radius: 55px;
  transition: box-shadow 0.3s ease;
  max-width: 200px;
  min-width: 200px;
  max-height: 56px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.hr {
  margin: 0;
  width: 56px;
  height: 2px;
  border: none;
  background: #000000;
  border-radius: 5px;
}


/*------------------------------------*\
  #HELPER / GLOBAL COMPONENTS
\*------------------------------------*/

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN STYLES */


/* SITE HEADER */

.site-header {
  background-color: #fff;
  margin-bottom: 70px;
}

.sitenav {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin-right: auto;
  flex-shrink: 1;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.logo__img {
  display: block;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.sitenav__item {
  margin-left: 40px;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #1F1534;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.sitenav__link:hover {
  opacity: 1;
}

.sitenav__link:active {
  color: #458FF6;
}

.active .sitenav__link {
  font-weight: bold;
  opacity: 1;
}

.toggler {
  display: none;
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  background-image: url('../img/open.svg');
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  outline: none;
}


/* SITE INTRO */

.intro {
  margin-bottom: 110px;
}

.intro__container {
  padding-top: 132px;
  padding-bottom: 132px;
  background-image: url('../img/intro-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

.intro__info {
  max-width: 440px;
}

.intro__heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 48px;
  line-height: 56px;
}

.intro__text {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
}

.intro__link {
  color: #fff;
  background-color: #458ff6;
}

.intro__link:hover {
  background-color: #307ce6;
}


/* SERVICES SECTION */

.services {
  margin-bottom: 150px;
  background-image: url('../img/services-bg.png');
  background-repeat: no-repeat;
  background-position: left calc(50% - 200px) center;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 952px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  text-align: center;
}

.services__heading {
  margin: 0;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 56px;
}

.services__text {
  margin: 0;
  margin-top: 33px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-left: -17px;
  margin-right: -17px;
  padding: 0;
  list-style-type: none;
}

.services__item {
  display: flex;
  margin-left: 17px;
  margin-right: 17px;
  margin-bottom: 37px;
}

.services__link {
  position: relative;
  z-index: 1;
  padding: 54px 45px 46px 39px;
  display: inline-block;
  max-width: 350px;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  transition: box-shadow 0.3s ease;
}

.services__link:hover {
  box-shadow: 0 25px 30px rgba(229, 233, 246);
}

.services__link::before {
  position: absolute;
  z-index: 1;
  display: block;
  width: 92px;
  height: 95px;
  content: ';
  background-repeat: no-repeat;
  background-position: left center;
}

.search-doctor::before {
  background-image: url('../img/lupa.png');
}

.online-pharmacy::before {
  background-image: url('../img/online-pharmacy.png');
}

.consultation::before {
  background-image: url('../img/consultation.png');
}

.details-info::before {
  background-image: url('../img/details-info.png');
}

.emergency-care::before {
  background-image: url('../img/emergency-care.png');
}


.tracking::before {
  background-image: url('../img/tracking.png');
}

.service__name {
  margin: 0;
  margin-top: 95px;
  font-size: 24px;
  line-height: 56px;
}

.service__info-text {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}

.border__btn {
  margin-top: 25px;
  color: #458FF6;
  border: 1.4px solid #458FF6;
}


/* PROVIDERS SECTION */

.providers {
  margin-bottom: 190px;
  background-image: url('../img/element.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.providers__container {
  padding-top: 70px;
  padding-bottom: 50px;
  background-image: url('../img/providers-img.png');
  background-repeat: no-repeat;
  background-position: left center;
}

.providers__info {
  max-width: 410px;
  margin-left: auto;
}

.providers__heading {
  margin: 0;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 56px;
}

.providers__text {
  margin: 0;
  margin-bottom: 15px;
  margin-top: 31px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}


/*DOWNLOAD APP SECTION*/

.download-app {
  margin-bottom: 265px;
}

.download-app__container {
  padding-top: 70px;
  padding-bottom: 50px;
  background-image: url('../img/download-app-bg.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.download-app__info {
  max-width: 370px;
}

.download-app__heading {
  max-width: 255px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 48px;
}

.download-app__text {
  margin: 0;
  margin-top: 31px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.download-btn__text {
  position: relative; 
  z-index: 1;
  display: flex;
  align-items: center;
}

.download-btn__text::after {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 10px;
  height: 15px;
  content: ';
  right: 0;
  background-image: url('../img/download-icon.svg');
  background-size: contain;
  background-position: center center;
}


/* CUSTOMER SECTION */
.customer {
  margin-bottom: 225px;
}

.customer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer__slayd {
  margin-bottom: 47px;
  position: relative;
  z-index: 1;
  padding: 64px 118px 118px 80px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  color: #fff;
}

.customer__slayd::before {
  position: absolute;
  z-index: -2;
  display: flex;
  width: 135px;
  height: 115px;
  content: '';
  left: -56px;
  bottom: 35px;
  background-image: url('../img/element.png');
}

.customer__slayd::after {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 135px;
  height: 115px;
  content: '';
  right: -45px;
  top: 0;
  background-image: url('../img/customer-element.png');
}

.customer__heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.hr-white {
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.customer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-wrapper {
  margin-right: 110px;
  width: 354px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer__name {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 48px
}

.customer__job {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
}

.customer-thought {
  max-width: 420px;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.buttons-group {
  display: flex;
  align-items: center;
}

.cricle-btn {
  display: inline-block;
  margin: 0 9px 0 9px;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgb(91, 155, 243);
  opacity: 0.3;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease;
}

.cricle-btn:hover {
  opacity: 1;
}

.active-btn {
  background: #5B9BF3;
  opacity: 1;
}

.slayd-btn {
  display: inline-block;
  width: 28px;
  height: 18px;
  border: none;
  background: none;
  background-image: url('../img/vector.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  outline: none;
}

.left-slayd-btn {
  margin-right: 90px;
}

.right-slayd-btn {
  margin-left: 90px;
  transform: rotate(180deg);
}



/* ARTICLE */
.article {
  position: relative;
  z-index: 1;
  margin-bottom: 200px;
  top: 10%;
  background-image: url('../img/article_bg.png');
  background-repeat: no-repeat;
  background-position: right calc(50% - 285px) center;
}

.article__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__heading {
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  color: #000;
}

.article__list {
  margin: 0;
  margin-top: 80px;
  margin-bottom: 70px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.article__item {
  max-width: 350px;
  background-color: #fff;
  margin: 0 17px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px
}

.article__item:hover {
  box-shadow: 10px 40px 50px 10px rgba(229, 233, 246, 0.8);
}

.article__img {
  display: block;
  border-radius: 20px 20px 0 0;
}

.article__item-info {
  padding: 24px 51px 25px 33px;
}

.article-name {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  color: #000;
  font-size: 21px;
  line-height: 32px;
}

.article-text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.article__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
  transition: 0.3s ease;
}

.article__link::after {
  display: inline-block;
  width: 14px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  content: ';
  background-image: url('../img/vector.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transform: rotate(-180deg);
}

.article__link:hover {
  color: #0d55bb;
}



/* SITE-HEADER */

.site-footer {
  padding: 115px 0 115px 0;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__info {
  max-width: 390px;
}

.footer__text {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.copy-right {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer__list {
  display: flex;
}

.footer__list-item {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
}

.footer__list-item__name {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
}

.footer__list-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #fff;
  white-space: nowrap;
}

.footer__list-link:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */

@media only screen and (max-width:1170px) {
  .intro__container {
    padding-top: 90px;
    padding-bottom: 90px;
    background-size: 550px;
  }

  .intro__info {
    max-width: 400px;
  }

  .intro__heading {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 52px;
  }

  .intro__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 32px;
  }

  .providers__container {
    background-size: 550px;
  }

  .download-app__container {
    background-size: 550px;
  }
}

@media only screen and (max-width:960px) {

  .intro__container {
    padding-top: 500px;
    padding-bottom: 0;
    background-position: center top;
  }

  .intro__info {
    margin-left: auto;
    margin-right: auto;
  }

  .services {
    margin-bottom: 100px;
  }

  .providers {
    margin-bottom: 50px;
  }

  .providers__container {
    padding-top: 450px;
    background-position: center top;
  }

  .providers__info {
    margin-left: auto;
    margin-right: auto;
  }

  .download-app__container {
    padding-top: 450px;
    background-position: center top;
  }

  .download-app__info {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width:800px) {
  .sitenav__item {
    margin-left: 25px;
  }

  .services__link {
    max-width: 300px;
  }
}

@media only screen and (max-width:768px) { 
  body {
    padding-top: 77px;
  }

  .site-header {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
  }

  .sitenav {
    position: relative;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
  }

  .toggler {
    display: inline-block;
  }

  .toggler__close {
    background-image: url('../img/close.svg');
  }

  .sitenav__list {
    display: block;
    position: absolute;
    padding: 15px 0;
    top: 101%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #f1f1f1;
    clip-path: circle(0px at 90% -25%);
    transition: all 0.8s ease-out;
  }

  .open-js .sitenav__list {
    display: block;
    position: absolute;
    padding: 15px 0;
    top: 101%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #f1f1f1;
    clip-path: circle(1000px at 90% -25%);
    transition: all 0.8s ease-out;
  }

  .sitenav__item {
    margin-left: 0;
  }

  .sitenav__link {
    margin: 15px 0;
    padding: 10px 0;
    font-size: 22px;
  }

  .open-js .sitenav__link {
    margin: 15px 0;
    padding: 10px 0;
    font-size: 22px;
  }

  .services {
    background-image: none;
  }
}

@media only screen and (max-width:585px) {
  .intro__container {
    padding-top: 370px;
    background-size: 400px;
    background-position: center top;
  }

  .services__link {
    max-width: 380px;
  }

  .providers {
    margin-bottom: 20px;
  }

  .providers__container {
    padding-top: 370px;
    background-size: 400px;
  }

  .download-app__container {
    padding-top: 370px;
    background-size: 400px;
  }
}

@media only screen and (max-width:430px) {
  .intro__container {
    padding-top: 270px;
    background-size: 300px;
    background-position: center top;
  }

  .intro__info {
    text-align: center; 
  }

  .intro__heading {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
  }

  .intro__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 25px;
  }

  .services {
    margin-bottom: 60px;
  }

  .providers {
    background-image: none;
  }

  .providers__container {
    padding-top: 270px;
    background-size: 300px;
  }

  .providers__info {
    text-align: center; 
  }

  .providers__heading {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
  }

  .providers__text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 25px;
  }

  .hr {
    margin-left: auto;
    margin-right: auto;
  }

  .download-app__container {
    padding-top: 270px;
    background-size: 300px;
  }

  .download-app__info {
    text-align: center;
  }

  .download-app__heading {
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px;
  }

  .download-app__text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 25px;
  }
}